# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#coverage
*.gcda
*.gcno
# gcovr results (for now)
gcovr*.html
*.gcov

# TDD test runners
run-test-*

# Code::Blocks layout and dependencies
*.layout
*.depend

# Local MCU projects
RenesasARM
LPC8xx
Arith.X

#Atmel Studio 7
as7_arith_arm_gcc/.vs/
as7_arith_arm_gcc/Debug/
